{# YOUR HOMEPAGE #}

{# First time seeing extend or blocks? Want to know how it works? Tutorial here: http://www.webhook.com #}
{% extends "templates/partials/base.html" %}

{% block content %}

  {% set cast_members = get('castmembers') %}
  <section class="podcast-title">
    <div class="container">
      <div class="about">
        <p>{{ podcast.description }}</p>
      </div>
      <div class="details">
        <h4>Follow</h4>
        <ul class="links">
          {% if podcast.itunes_url %}
            <li><a href="{{ podcast.itunes_url }}" class="fa fa-apple"> iTunes</a></li>
          {% endif %}
            <li><a href="/rss.xml" class="fa fa-rss-square no-ajaxy"> RSS</a></li>
          {% if podcast.twitter %}
          <li><a href="{{ podcast.twitter }}" class="fa fa-twitter"> @{{ podcast.twitter }}</a></li>
          {% endif %}
        </ul>
        <h4>Cast members</h4>
        <ul class="cast">
          {% for type in cast_members|groupBy('cast_type') %}
            {% for cast in type %}
              <li><a href="{{ url(cast) }}">{{ cast.name }}</a></li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  {# Copy this to any page you want episodes data on. #}
  {% set episodes = get('episodes') %}
  {% set episodes = episodes|sort('publish_date', true) %}

  {# Scaffolding only outputs the object.name, but feel to use any of the fields from your CMS form here. #}
  <ul class="boxes">
    {% for episode in episodes %}
      <li>
        <a href="{{ url(episode) }}">
          <img src="{{ episode.image|imageCrop(300) }}">
          <h4>Episode: #{{ episode.number }}</h4>
          <p class="date">{{ episode.publish_date|date('F d Y') }}</p>
          <p class="desc">{{ episode.description|striptags|truncate(100) }}</p>
        </a>
        {% if episode.audio_file %}
          <span class="listen icon fa fa-play js-player-go" data-audio-url="{{ episode.audio_file.url }}" data-audio-title="{{ episode.name }}"> Listen</span>
          <a href="{{ episode.audio_file.url }}" class="download icon fa fa-download"> Download</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {# The actual pagination template, feel free to edit or replace the default one. #}



{% endblock %}

